<% layout('../layouts/app') %>
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <section class="py-6">
                <div class="container bg-light min-vh-50 py-6 d-flex justify-content-center align-items-center" style="max-width:1920px">
                    <div class="row">
                        <div class="col-md-12 text-center py-5">
                            <div class="lc-block mb-4">
                                <div editable="rich">
                                    <h1 class="fw-bold display-1 text-danger">Access Denied</h1>
                                    <hr style="margin:auto;width:50%" />
                                </div>
                            </div>
                            <div class="lc-block">
                                <div editable="rich">
                                    <p class="h2">You dont have permission to view this page.</p>
                                    <p class="lead">🚫🚫🚫🚫</p>
                                    <p class="lead fw-bold text-danger">error code:403 forbidden</p>
                                </div>
                            </div>
                            <div class="lc-block">
                                <button class="btn btn-theme text-light" onclick="history.back()">
                                    <i class="fa-solid fa-arrow-left"></i> Go Back
                                </button>
                            </div><!-- /lc-block -->
                        </div><!-- /col -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>



