<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-1 mt-1">
      <a href="<%=url('user/dashboard')%>" class="list-group-item list-group-item-action py-2 <%=title=='Home'&&'active'%>"
        data-mdb-ripple-init aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
    </div>
  </div>
</nav>
<!-- Sidebar -->